@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


body{
    font-family: 'Ubuntu', sans-serif !important;
    background-color: #f0fdf0;
}

.navbar-toggler:focus {
    outline: 0;
  }
  .navbar-nav > .active {
    color: aqua!important;  
    background-color: chartreuse; 
  }
  .nav-item > a:hover {
    color: aqua!important;
  }